body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./background.png.webp');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body {
  height: 100%;
  margin-bottom: 1%;
}
.main {
  padding: 4%;
}
#logo {
  display: inline;
  margin-right: 0;
}
#brand {
  font-size: larger;
  font-weight: 600;
  display: inline-block;
  color: #a1a2a3;
}
#ul-list {
  display: inline;
  margin-left: 40%;
}
#ul-list li {
  display: inline;
  text-decoration: none;
  color: #a1a2a3;
  padding: 3% 6%;
}
a {
  text-decoration: none;
  color: #d9a9d9;
}
#ul-list li:hover {
  border-radius: 10%;
  border-width: 3%;
  background-color: #a1a2a3;
  color: #232323;
  cursor: pointer;
}
#nav-items {
  text-decoration: none;
  list-style-type: none;
}
img {
  height: 10%;
  width: 10%;
  display: inline;
}
#wrapper {
  height: 40%;
  display: flex;
  background-color: #232323;
}
#header-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 1%;
  justify-content: space-between;
  align-items: center;
}

